<script type="text/javascript" id="node-template">
    RED.nodes.registerType('template',{
        category:'exampleCategory',
        color:'#e2b784',
        inputs:1,
        inputLabels: "an input message",
        outputs:1,
        outputLabels: "an output message",
        defaults: {
            name: {value:''},
        },
        label: function(){
            return this.name || 'template'
        }
    });
</script>
<script type="text/html" data-template-name="template">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>
<script type="text/html" data-help-name="template">
    <p>Template Node-RED node</p>
    <h3>Inputs</h3>
    <dl class="message-properties">
    <dt>payload
        <span class="property-type">string</span>
    </dt>
    <h3>Outputs</h3>
    <dl class="message-properties">
    <dt>payload
        <span class="property-type">string</span>
    </dt>
    <h3>Details</h3>
    <p>Some more information about the node.</p>
</script>